<div class="container-fluid">
  <div class="card">
      <div class="card-header">
          Changer le mot de passe 
      </div>

      <div class="card-body">
          <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">

  <!-- Mot de passe actuel -->
  <div class="form-group">
    <label>Mot de passe actuel</label>
    <input
      type="password"
      class="form-control form-control-sm"
      formControlName="currentpassword"
    />
    <small *ngIf="isInvalid('currentpassword')" class="text-danger">
      Mot de passe actuel requis
    </small>
  </div>

  <!-- Nouveau mot de passe -->
  <div class="form-group">
    <label>Nouveau mot de passe</label>
    <input
      type="password"
      class="form-control form-control-sm"
      formControlName="newpassword"
    />
    <small *ngIf="isInvalid('newpassword')" class="text-danger">
      Minimum 8 caractères
    </small>
  </div>

  <!-- Confirmation -->
  <div class="form-group">
    <label>Confirmer le nouveau mot de passe</label>
    <input
      type="password"
      class="form-control form-control-sm mb-3"
      formControlName="confirmpassword"
    />
    <!-- <small *ngIf="passwordForm.errors?.passwordMismatch" class="text-danger">
      Les mots de passe ne correspondent pas
    </small> -->
    <small *ngIf="passwordForm.errors" class="text-danger">
      Les mots de passe ne correspondent pas
    </small>
  </div>
  
  <button
    type="submit"
    class="btn btn-primary btn-sm mb-3"
    [disabled]="passwordForm.invalid || loading"
  >
    Modifier le mot de passe
  </button>

</form>
      </div>
  </div>

</div>

