.bg-danger-subtle {
  background-color: #f8d7da !important;
}

.error-slot {
  visibility: hidden;
}

/* Centre verticalement tout le contenu du TD */
.caisse-row td {
  vertical-align: middle;
  padding: 4px 6px;
}

/* Wrapper interne */
.cell-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Réserve TOUJOURS la place de l'erreur */
.error-slot {
<<<<<<< HEAD
  min-height: 14px;   /* hauteur fixe */
=======
  min-height: 14px; /* hauteur fixe */
>>>>>>> 0503d38968d89961ba3838330e742acedfc67aec
  line-height: 14px;
  visibility: hidden;
}

/* Visible sans casser le layout */
.error-slot.visible {
  visibility: visible;
}

/* Optionnel : alignement input */
.cell-wrapper input {
  height: 26px;
<<<<<<< HEAD
}
=======
}

.upload-zone {
  transition: all 0.2s ease;
  cursor: pointer;
}
.upload-zone:hover {
  background-color: #f8f9fa !important;
  border-color: #86b7fe !important;
}
>>>>>>> 0503d38968d89961ba3838330e742acedfc67aec
