<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">{{title}}</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Consultation</a></li>
                    <li class="breadcrumb-item active">{{title}}</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card" id="">
            <form [formGroup]="searchForm">
                <div class="card-header border-0">
                    <div class="d-flex align-items-center">
                        <h5 class="card-title mb-0 flex-grow-1">{{title}}</h5>
                        <div class="flex-shrink-0">
                            <div class="d-flex gap-2 flex-wrap">
                                <button class="btn btn-sm btn-soft-secondary" (click)="onSubmit()"><i class="ri-add-line align-bottom me-1"></i>actualiser</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-light-subtle border border-dashed border-start-0 border-end-0">
                    <div class="row g-3">
                        <div class="col-xxl-5 col-sm-4">
                            <div class="search-box search-box-sm">
                                <input type="text" class="form-control form-control-sm search bg-light border-light" formControlName="codedemande" placeholder="rechercher par numero demande">
                                <i class="ri-search-line search-icon"></i>
                            </div>
                        </div>

                        <div class="col-xxl-3 col-sm-4">
                            <input type="date" formControlName="datedebut" class="form-control form-control-sm bg-light border-light" id="datepicker-range" placeholder="date debut">
                        </div>

                        <div class="col-xxl-3 col-sm-4">
                            <input type="date" formControlName="datefin" class="form-control form-control-sm bg-light border-light" id="datepicker-range" placeholder="date fin">
                        </div>
                        <!--end col-->
                    </div>
                </div>
            </form>

            <div class="card-body">
                <div>
                    <div class="table-responsive table-card">
                        <table class="table table-hover table-nowrap align-middle table-scroll table-container table-custom table-compact" id="invoiceTable">
                            <thead class="text-muted table-light">
                                <tr>
                                    <th scope="col" data-sort="site">Site</th>
                                    <th scope="col" data-sort="numero">Numero pièce</th>
                                    <th scope="col" data-sort="date">Date operation</th>
                                    <th scope="col" data-sort="nature">Nature operation</th>
                                    <th scope="col" data-sort="centre">Centre analytique</th>
                                    <th scope="col" data-sort="tiers">Tiers</th>
                                    <th scope="col" data-sort="tiers">Montant</th>
                                    <th scope="col" data-sort="devise">Devise</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(item of demandes; track $index){
                                    <tr>
                                        <td> {{item?.site}} </td>
                                        <td> {{item?.codedemande}} </td>
                                        <td> {{item?.datedemande | date:'dd/MM/yyyy'}} </td>
                                        <td> {{item?.nature_operation }} </td> 
                                        <td> {{item?.centre_analytique }} </td>
                                        <td> {{item?.tiers || 'Aucun tiers'}} </td>
                                        <td> {{item?.montantdemande }} </td>
                                        <td> {{item?.codedevise }} </td>
                                    </tr>
                                }
                                <tr *ngIf="loading">
                                    <td colspan="8">
                                        <div class="text-center py-4">
                                            <div class="spinner-border text-info"></div>
                                            <h6 class="mt-2">Chargement...</h6>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="noresult" *ngIf="demandes.length == 0 && !loading">
                            <div class="text-center">
                                <h6 class="mt-2">Désole! Aucun resultat trouvé</h6>
                                <p class="text-muted">
                                    Désole il n' y aucune requête reçue
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>