<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div
      class="page-title-box d-sm-flex align-items-center justify-content-between"
    >
      <h4 class="mb-sm-0">{{ title }}</h4>
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a href="javascript: void(0);">Données de base</a>
          </li>
          <li class="breadcrumb-item active">{{ title }}</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- end page title -->

<div class="row">
  <div class="col-lg-12">
    <div class="card" id="orderList">
      <div class="card-header border-0">
        <div class="row align-items-center gy-3">
          <div class="col-sm-auto">
            <div class="d-flex gap-1 flex-wrap">
              <button
                type="button"
                class="btn btn-sm btn-soft-success"
                data-bs-toggle="modal"
                id="create-btn"
                data-bs-target="#showModal"
              >
                <i class="ri-add-line align-bottom me-1"></i>Créer
              </button>
              <button type="button" class="btn btn-sm btn-soft-info">
                <i class="ri-file-download-line align-bottom me-1"></i> import
              </button>
              <button
                class="btn btn-sm btn-soft-danger"
                [disabled]=""
                onClick="deleteMultiple()"
              >
                <i class="ri-delete-bin-2-line"></i>
              </button>
              <button type="button" class="btn btn-sm btn-info">
                <i class="ri-refresh-fill align-bottom me-1"></i>actualiser
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body border border-dashed border-end-0 border-start-0">
        <form>
          <div class="row g-3">
            <div class="col-xxl-5 col-sm-6">
              <div class="search-box">
                <input
                  type="text"
                  class="form-control form-control-sm search"
                  placeholder="Rechercher par code, libellé,..."
                  [formControl]="searchControl"
                />
                <i class="ri-search-line search-icon"></i>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </form>
      </div>
      <div class="card-body pt-0 mt-3">
        <div>
          <div class="table-responsive table-card mb-1">
            <table class="table table-nowrap align-middle" id="orderTable">
              <thead class="text-muted table-light">
                <tr class="text-uppercase">
                  <th scope="col" style="width: 25px">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="checkAll"
                        [checked]="allSelected"
                        (change)="toggleAllEntetes()"
                      />
                    </div>
                  </th>
                  <th class="sort" data-sort="id">Code</th>
                  <th class="sort" data-sort="customer_name">Type</th>
                  <th class="sort" data-sort="customer_name">
                    Libellé demande
                  </th>
                  <th class="sort" data-sort="customer_name">Date demande</th>
                  <th class="sort" data-sort="customer_name">Libellé</th>
                  <th class="sort" data-sort="status">N° Ligne</th>
                  <th class="sort" data-sort="status">Montant</th>
                  <th class="sort" data-sort="description">Desciption</th>
                  <th class="sort" data-sort="status">Statut</th>
                  <th class="sort" data-sort="city">Action</th>
                </tr>
              </thead>
              <tbody class="list form-check-all">
                <ng-container *ngFor="let demande of filteredDemandes">
                  <ng-container *ngFor="let lc of demande.lignes">
                    <tr>
                      <td
                        *ngIf="demande.lignes.indexOf(lc) === 0"
                        [attr.rowspan]="demande.lignes.length"
                      >
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="itemGroup_"
                            [checked]="
                              selectedEntetes.get(demande.entete.iddemande!)
                            "
                            (change)="toggleEntete(demande)"
                          />
                        </div>
                      </td>
                      <!-- Entête affiché uniquement sur la première ligne de l'entête -->
                      <td
                        *ngIf="demande.lignes.indexOf(lc) === 0"
                        [attr.rowspan]="demande.lignes.length"
                      >
                        {{ demande.entete.codedemande }}
                      </td>
                      <td
                        *ngIf="demande.lignes.indexOf(lc) === 0"
                        [attr.rowspan]="demande.lignes.length"
                      >
                        {{ demande.entete.typedemande }}
                      </td>
                      <td
                        *ngIf="demande.lignes.indexOf(lc) === 0"
                        [attr.rowspan]="demande.lignes.length"
                      >
                        {{ demande.entete.libelledemande }}
                      </td>
                      <td
                        *ngIf="demande.lignes.indexOf(lc) === 0"
                        [attr.rowspan]="demande.lignes.length"
                      >
                        {{ demande.entete.datedemande | date : "dd-MM-yyyy" }}
                      </td>

                      <!-- Colonnes ligne -->
                      <td>{{ lc.ligne.libellelignedemande }}</td>
                      <td>{{ lc.ligne.numligne }}</td>
                      <td>{{ lc.ligne.montantdemande }}</td>

                      <!-- Colonnes détails -->
                      <td>
                        <ul
                          class="list-inline hstack"
                          *ngFor="let d of lc.details"
                        >
                          <li class="list-inline-item">
                            {{ d.description }} - {{ d.quantite }} x
                            {{ d.montant }}
                          </li>
                        </ul>
                      </td>
                      <td
                        *ngIf="demande.lignes.indexOf(lc) === 0"
                        [attr.rowspan]="demande.lignes.length"
                      >
                        <span class="badge bg-warning text-dark">{{
                          demande.entete.statut
                        }}</span>
                      </td>

                      <td
                        *ngIf="demande.lignes.indexOf(lc) === 0"
                        [attr.rowspan]="demande.lignes.length"
                      >
                        <ul class="list-inline hstack gap-2 mb-0">
                          <li
                            class="list-inline-item"
                            data-bs-toggle="tooltip"
                            data-bs-trigger="hover"
                            data-bs-placement="top"
                            title="Voir le détail"
                          >
                            <a
                              href="javascript:void(0)"
                              class="text-primary d-inline-block"
                              (click)="openViewModal(demande.entete.iddemande!)"
                            >
                              <i class="ri-eye-fill fs-16"></i>
                            </a>
                          </li>
                        </ul>
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
              </tbody>
            </table>
            <div class="noresult" style="display: none">
              <div class="text-center">
                <h5 class="mt-2">Désole! Aucun resultat trouvé</h5>
                <p class="text-muted">
                  We've searched more than 150+ Orders We did not find any
                  orders for you search.
                </p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <div class="pagination-wrap hstack gap-2">
              <button
                [disabled]="currentPage == 1"
                (click)="changePage(currentPage - 1)"
                class="btn btn-sm btn-soft-primary pagination-prev"
              >
                Précédent
              </button>
              <ul class="pagination listjs-pagination mb-0"></ul>
              <button
                [disabled]="currentPage == totalPages"
                (click)="changePage(currentPage + 1)"
                class="btn btn-sm btn-soft-primary pagination-next"
              >
                Suivant
              </button>
            </div>
          </div>
        </div>

        <!-- Modal de création / modification -->
        <div
          class="modal fade"
          id="showModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header bg-light p-3">
                <h5 class="modal-title">
                  {{ actionModal === "create" ? "Création" : "Modification" }}
                  Demande
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  (click)="closeModal('showModal')"
                ></button>
              </div>

              <form [formGroup]="demandeForm">
                <div class="modal-body">
                  <!-- ==================== STEP 1 : ENTÊTE ==================== -->
                  <div *ngIf="currentStep === 1">
                    <div class="mb-3">
                      <label class="form-label">Code demande</label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="codedemande"
                      />
                    </div>

                    <div class="mb-3">
                      <label class="form-label">Type demande</label>
                      <select class="form-select" formControlName="typedemande">
                        <option value="">-- Sélectionner --</option>
                        <option value="Décaissement">Décaissement</option>
                        <option value="Approvisionnement">
                          Approvisionnement
                        </option>
                      </select>
                    </div>

                    <div class="mb-3">
                      <label class="form-label">Libellé demande</label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="libelledemande"
                      />
                    </div>

                    <div class="mb-3">
                      <label class="form-label">Date demande</label>
                      <input
                        type="date"
                        class="form-control"
                        formControlName="datedemande"
                      />
                    </div>
                  </div>

                  <!-- ==================== STEP 2 : LIGNES ==================== -->
                  <div *ngIf="currentStep === 2">
                    <div
                      formArrayName="lignes"
                      *ngFor="let ligne of lignes.controls; let i = index"
                    >
                      <div [formGroupName]="i" class="border rounded p-2 mb-2">
                        <div
                          class="d-flex justify-content-between align-items-center mb-2"
                        >
                          <h6>Ligne {{ i + 1 }}</h6>
                          <button
                            type="button"
                            class="btn btn-sm btn-danger"
                            (click)="removeLigne(i)"
                          >
                            Supprimer
                          </button>
                        </div>

                        <div class="row g-2">
                          <div class="col-md-3">
                            <label>Numéro</label>
                            <input
                              type="number"
                              class="form-control"
                              formControlName="numligne"
                            />
                          </div>
                          <div class="col-md-4">
                            <label>Libellé</label>
                            <input
                              type="text"
                              class="form-control"
                              formControlName="libellelignedemande"
                            />
                          </div>
                          <div class="col-md-4">
                            <label for="idbudget">Budget</label>
                            <select
                              class="form-select form-control form-control-sm"
                              id="idbudget"
                              formControlName="idbudget"
                            >
                              <option selected>-- Sélectionner --</option>
                              @for (item of budgets; track $index) {
                              <option value="{{ item.idbudget }}">
                                {{ item.codebudget }} - Du:
                                {{ item.datedebut | date : "dd-MM-yyyy" }} au
                                {{ item.datefin | date : "dd-MM-yyyy" }}
                              </option>
                              }
                            </select>
                          </div>
                          <div class="col-md-3">
                            <label>Montant</label>
                            <input
                              type="number"
                              class="form-control"
                              formControlName="montantdemande"
                            />
                          </div>
                          <div class="col-md-2 d-flex align-items-end">
                            <button
                              type="button"
                              class="btn btn-sm btn-success w-100"
                              (click)="addDetail(i)"
                            >
                              Ajouter détail
                            </button>
                          </div>
                        </div>

                        <!-- DETAILS -->
                        <div formArrayName="details" class="mt-2">
                          <div
                            *ngFor="
                              let detail of getDetailsArray(i).controls;
                              let j = index
                            "
                            [formGroupName]="j"
                            class="border p-2 mb-1 rounded"
                          >
                            <div class="row g-2 align-items-end">
                              <div class="col-md-4">
                                <label>Description</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  formControlName="description"
                                />
                              </div>
                              <div class="col-md-2">
                                <label>Quantité</label>
                                <input
                                  type="number"
                                  class="form-control"
                                  formControlName="quantite"
                                />
                              </div>
                              <div class="col-md-3">
                                <label>Montant</label>
                                <input
                                  type="number"
                                  class="form-control"
                                  formControlName="montant"
                                />
                              </div>
                              <div class="col-md-3">
                                <button
                                  type="button"
                                  class="btn btn-sm btn-danger w-100"
                                  (click)="removeDetail(i, j)"
                                >
                                  Supprimer
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <button
                      type="button"
                      class="btn btn-sm btn-primary"
                      (click)="addLigne()"
                    >
                      Ajouter une ligne
                    </button>
                  </div>

                  <!-- ==================== STEP 3 : FINISH ==================== -->
                  <div *ngIf="currentStep === 3">
                    <div class="alert alert-success">
                      Vérifiez toutes les informations avant de terminer.
                    </div>
                    <div><strong>ID Demande :</strong> {{ iddemande }}</div>
                  </div>

                  <div *ngIf="msgErros" class="alert alert-danger mt-2">
                    {{ msgErros }}
                  </div>
                </div>

                <!-- FOOTER -->
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-danger me-auto"
                    *ngIf="actionModal === 'update'"
                    (click)="deleteDemande()"
                  >
                    Supprimer la demande
                  </button>

                  <button
                    type="button"
                    class="btn btn-light"
                    data-bs-dismiss="modal"
                    (click)="closeModal('showModal')"
                  >
                    Fermer
                  </button>

                  <button
                    type="button"
                    class="btn btn-secondary"
                    *ngIf="currentStep > 1"
                    (click)="prevStep()"
                  >
                    Précédent
                  </button>

                  <button
                    type="button"
                    class="btn btn-primary"
                    *ngIf="currentStep < 3"
                    (click)="nextStep()"
                  >
                    Suivant
                  </button>

                  <button
                    type="button"
                    class="btn btn-success"
                    *ngIf="currentStep === 3"
                    (click)="finishProcess()"
                  >
                    Terminer
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div
          class="modal fade flip"
          id="deleteOrder"
          tabindex="-1"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body p-5 text-center">
                <div class="mt-4 text-center">
                  <h4></h4>
                  <p class="text-muted fs-15 mb-4"></p>
                  <div class="hstack gap-2 justify-content-center remove">
                    <button
                      class="btn btn-sm btn-link link-success fw-medium text-decoration-none"
                      id="deleteRecord-close"
                      data-bs-dismiss="modal"
                    >
                      <i class="ri-close-line me-1 align-middle"></i> annuler
                    </button>
                    <button class="btn btn-sm btn-danger" id="delete-record">
                      Oui, supprimer
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end modal -->

        <!-- Spinner global -->
        <div
          *ngIf="loading"
          class="position-fixed top-50 start-50 translate-middle"
          style="z-index: 1051"
        >
          <div
            class="spinner-border text-primary"
            role="status"
            style="width: 3rem; height: 3rem"
          >
            <span class="visually-hidden">Chargement...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end col-->
</div>
<!--end row-->
