<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">{{title}}</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Consultation</a></li>
                    <li class="breadcrumb-item active">{{title}}</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->


<div class="row">
    <div class="col-lg-12">
        <div class="card" id="">
            <div class="card-header border-0">
                <div class="d-flex align-items-center">
                    <h5 class="card-title mb-0 flex-grow-1">{{title}}</h5>
                    <div class="flex-shrink-0">
                        <div class="d-flex gap-2 flex-wrap">
                            <button type="button" class="btn btn-sm btn-primary" (click)="printJournalCaisse()">
                                <i class="ri-file-download-line align-bottom me-1"></i> imprimer
                            </button>
                            <button class="btn btn-sm btn-soft-secondary" data-bs-toggle="modal" data-bs-target="#showModal"><i class="ri-add-line align-bottom me-1"></i>critères</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div>
                    <!-- Left Icon Accordions -->
                    <div class="accordion lefticon-accordion custom-accordionwithicon accordion-border-box" id="accordionlefticon">
                        @for(item of op; track $index){
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="accordionlefticonExample1">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#accor_lefticonExamplecollapse' + $index" aria-expanded="true" aria-controls="accor_lefticonExamplecollapse1">
                                        opérations du {{ item?.date | date:'dd/MM/yyyy' }}      site : {{ item?.site }}
                                    </button>
                                </h2>
                                <div [attr.id]="'accor_lefticonExamplecollapse' + $index" class="accordion-collapse collapse show" aria-labelledby="accordionlefticonExample1" data-bs-parent="#accordionlefticon">
                                    <div class="accordion-body">
                                        <table class="table table-borderless table-sm align-middle mb-0" id="invoiceTable">
                                            @for(caisse of item.caisses; track $index){
                                                <tr>
                                                    <td colspan="2" class="p-2"><strong> {{ caisse?.codecaisse }} - {{ caisse?.caisse }} </strong> </td>
                                                    <td colspan="2" class="start p-2">Solde ouverture : <strong> {{caisse?.solde_ouverture}} {{ caisse?.devise }}</strong> </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table class="table table-borderless table-sm table-nowrap align-middle mb-0">
                                                            <colgroup>
                                                                <col style="width: 25%">
                                                                <col style="width: 15%">
                                                                <col style="width: 20%">
                                                                <col style="width: 20%">
                                                                <col style="width: 20%">
                                                            </colgroup>
                                                            <thead class="align-middle">
                                                                <tr>
                                                                    <th>caisse  </th>
                                                                    <th>type opération </th>
                                                                    <th>montant opération </th>
                                                                    <th>montant ref </th>
                                                                    <th>numéro piece  </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @if(!caisse?.operations?.length){
                                                                    <tr>
                                                                        <td colspan="5" class="text-center text-muted">
                                                                            Aucune opération
                                                                        </td>
                                                                    </tr>
                                                                }

                                                                @for(element of caisse?.operations; track element.idoperation){
                                                                    <tr>
                                                                        <td>{{ element.description || '-' }}</td>
                                                                        <td class="text-end">{{ element.typeoperation || '-' }}</td>
                                                                        <td class="text-end">
                                                                            {{ element.montant | number:'1.0-2' }} {{ element.deviseop }}
                                                                        </td>
                                                                        <td class="text-end">
                                                                            {{ element.montant_ref | number:'1.0-2' }} {{ user.devise_ref_code }}
                                                                        </td>
                                                                        <td>{{ element.piece || '-' }}</td>
                                                                    </tr>
                                                                }
                                                                </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" class="p-2"> </td>
                                                    <td colspan="2" class="start p-2">Solde fermeture : <strong> {{ caisse?.solde_fermeture}}  {{ caisse?.devise }}</strong>  </td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }

                        <!-- <div class="accordion-item mt-2">
                            <h2 class="accordion-header" id="accordionlefticonExample2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accor_lefticonExamplecollapse2" aria-expanded="false" aria-controls="accor_lefticonExamplecollapse2">
                                    What is Digital Marketing?
                                </button>
                            </h2>
                            <div id="accor_lefticonExamplecollapse2" class="accordion-collapse collapse" aria-labelledby="accordionlefticonExample2" data-bs-parent="#accordionlefticon">
                                <div class="accordion-body">
                                    Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item mt-2">
                            <h2 class="accordion-header" id="accordionlefticonExample3">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accor_lefticonExamplecollapse3" aria-expanded="false" aria-controls="accor_lefticonExamplecollapse3">
                                    Where does it come from ?
                                </button>
                            </h2>
                            <div id="accor_lefticonExamplecollapse3" class="accordion-collapse collapse" aria-labelledby="accordionlefticonExample3" data-bs-parent="#accordionlefticon">
                                <div class="accordion-body">
                                    Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia. Nam pretium turpis et arcu arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis aliquam ultrices mauris.
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div *ngIf="op?.length == 0">
                        <div class="text-center">
                            <h5 class="mt-2">Désolé! Aucune opération trouvé</h5>
                            <p class="text-muted mb-0">Désole il n'y aucune donnée dans cette base</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="showModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info-subtle">
                <h5 class="modal-title" id="exampleModalLabel">Critères {{title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
            </div>

            <form [formGroup]="searchForm">
                <div class="modal-body p-3">
                    <div class="row mt-4">
                        <div class="col-lg-12 col-sm-12">
                            <div class="mb-3">
                                <label for="choices-payment-status">caisse </label>
                                <div class="input-light">
                                    <select formControlName="caisse" class="form-select form-select-sm bg-light border-0">
                                        <option value="">choisir la caisse</option>
                                        @for (item of caissesUser; track $index){
                                            <option value="{{item.caisse.idcaisse}}">{{item.caisse.codecaisse}} -- {{item.caisse.libelle}}</option>
                                        }
                                    </select>
                                    <!-- <div class="invalid-feedback">{{ msgErros }}</div> -->
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6">
                            <div class="mb-3">
                                <label for="date-field">date debut</label>
                                <input type="date" formControlName="datedebut" class="form-control form-control-sm bg-light border-0" id="date-field" data-provider="flatpickr" data-time="true" placeholder="Selectionner date" required>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6">
                            <div class="mb-3">
                                <label for="date-field">date fin</label>
                                <input type="date" formControlName="datefin" class="form-control form-control-sm bg-light border-0" id="date-field" data-provider="flatpickr" data-time="true" placeholder="Selectionner date" required>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <div class="d-flex gap-2">
                            <button type="button" class="btn btn-sm btn-light" data-bs-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-sm btn-success" (click)="onSubmit()" [disabled]="searchForm.invalid">
                                rechercher
                            </button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<!--end modal -->

