.table-scroll {
    max-height: 400px;      /* hauteur du tableau */
    overflow-y: auto;       /* scroll vertical */
    overflow-x: hidden;
}


.table-container {
  max-width: 100%;
  overflow-x: auto;
  /* Pour activer le défilement horizontal */
  overflow-y: auto;
  /* Pour activer le défilement vertical si nécessaire */
  max-height: 400px;
  /* Limite la hauteur de la table, ajuste selon les besoins */
}

.table-custom th {
  white-space: nowrap;
  /* Empêche les libellés de se casser en plusieurs lignes */
  /* text-align: center; */
}

.button-custom:hover {
  background-color: #218838;
}

.table-custom {
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table-light {
  background-color: #f8f9fa;
}

/* .table th, .table td {
    padding: 1rem 0.75rem;
  } */

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-compact th,
.table-compact td {
  padding: 0.25rem 0.5rem;
  /* valeur UX optimale */
  vertical-align: middle;
}