<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div
      class="page-title-box d-sm-flex align-items-center justify-content-between"
    >
      <h4 class="mb-sm-0">{{ title }}</h4>
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a href="javascript: void(0);">Données de base</a>
          </li>
          <li class="breadcrumb-item active">{{ title }}</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- end page title -->

<div class="row">
  <div class="col-lg-12">
    <div class="card" id="orderList">
      <div class="card-header border-0">
        <div class="row align-items-center gy-3">
          <div class="col-sm-auto">
            <div class="d-flex gap-1 flex-wrap">
              <button
                type="button"
                class="btn btn-sm btn-soft-success"
                data-bs-toggle="modal"
                (click)="modalCreate()"
                id="create-btn"
                data-bs-target="#showModal"
              >
                <i class="ri-add-line align-bottom me-1"></i>créer
              </button>
              <button type="button" class="btn btn-sm btn-soft-info">
                <i class="ri-file-download-line align-bottom me-1"></i> import
              </button>
              <button
                class="btn btn-sm btn-soft-danger"
                [disabled]="!checkAllRow"
                onClick="deleteMultiple()"
              >
                <i class="ri-delete-bin-2-line"></i>
              </button>
              <button type="button" class="btn btn-sm btn-info">
                <i class="ri-refresh-fill align-bottom me-1"></i>actualiser
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body border border-dashed border-end-0 border-start-0">
        <form>
          <div class="row g-3">
            <div class="col-xxl-5 col-sm-6">
              <div class="search-box">
                <input
                  type="text"
                  class="form-control form-control-sm search"
                  placeholder="rechercher par code, libelle..."
                  [(ngModel)]="searchTerm"
                  (ngModelChange)="applyFilters()"
                  [ngModelOptions]="{ standalone: true }"
                />
                <i class="ri-search-line search-icon"></i>
              </div>
            </div>
            <!--end col-->

            <!--end col-->
            <div class="col-xxl-2 col-sm-4">
              <div>
                <select
                  class="form-control form-control-sm"
                  data-choices
                  data-choices-search-false
                  name="choices-single-default"
                  id="idStatus"
                >
                  <option value="">Status</option>
                  <option value="all" selected>tous</option>
                  <option value="Pending">Actif</option>
                  <option value="Pending">Inactif</option>
                </select>
              </div>
            </div>
            <!--end col-->

            <!--end col-->
            <div class="col-xxl-1 col-sm-2">
              <div>
                <button
                  type="button"
                  class="btn btn-sm btn-primary w-100"
                  onclick="SearchData()"
                >
                  <i class="ri-equalizer-fill me-1 align-bottom"></i>
                  Filtrer
                </button>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </form>
      </div>
      <div class="card-body pt-0">
        <div>
          <ul
            class="nav nav-tabs nav-tabs-custom nav-success mb-3"
            role="tablist"
          >
            <li class="nav-item">
              <a
                class="nav-link active All py-3"
                [class.active]="currentStatusFilter === 'ALL'"
                (click)="applyStatusFilter('ALL')"
                data-bs-toggle="tab"
                id="All"
                href="#home1"
                role="tab"
                aria-selected="true"
              >
                <i class="ri-store-2-fill me-1 align-bottom"></i> Tous
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link py-3 Delivered"
                [class.active]="currentStatusFilter === 'ACTIF'"
                (click)="applyStatusFilter('ACTIF')"
                data-bs-toggle="tab"
                id="Delivered"
                href="#delivered"
                role="tab"
                aria-selected="false"
              >
                <i class="ri-checkbox-circle-line me-1 align-bottom"></i> Actif
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link py-3 Pickups"
                [class.active]="currentStatusFilter === 'INACTIF'"
                (click)="applyStatusFilter('INACTIF')"
                data-bs-toggle="tab"
                id="Pickups"
                href="#pickups"
                role="tab"
                aria-selected="false"
              >
                <i class="ri-truck-line me-1 align-bottom"></i> Inactif
                <span class="badge bg-danger align-middle ms-1">{{
                  totalInactifs
                }}</span>
              </a>
            </li>
          </ul>

          <div class="table-responsive table-card mb-1">
            <table class="table table-nowrap align-middle" id="orderTable">
              <thead class="text-muted table-light">
                <tr class="text-uppercase">
                  <th scope="col" style="width: 25px">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        [(ngModel)]="checkAllRow"
                        id="checkAll"
                        (ngModelChange)="handleSelectAll($event)"
                      />
                    </div>
                  </th>
                  <th class="sort" data-sort="id">Code</th>
                  <th class="sort" data-sort="id">Libellé</th>
                  <th class="sort" data-sort="customer_name">Entité</th>
                  <th class="sort" data-sort="customer_name">Analytique</th>
                  <th class="sort" data-sort="customer_name">Validé</th>
                  <th class="sort" data-sort="customer_name">Date début</th>
                  <th class="sort" data-sort="customer_name">Date fin</th>
                  <th class="sort" data-sort="status">Status</th>
                  <th class="sort" data-sort="status">Prévision</th>
                  <th class="sort" data-sort="status">Devise</th>
                  <th class="sort" data-sort="city">Action</th>
                </tr>
              </thead>
              <tbody class="list form-check-all">
                @if (hasAnnualBudgets) {
                  @for (item of getBudgetsAnnuels(); track item.idbudget) {
                    <!-- 🔹 LIGNE BUDGET ANNUEL -->
                    <tr class="table-primary-subtle fw-semibold">
                      <td>
                        <button
                          class="btn btn-sm btn-link p-0"
                          (click)="toggleExpand(item.idbudget)"
                        >
                          <i
                            class="ri-arrow-right-s-line fs-16"
                            [class.ri-arrow-down-s-line]="
                              isExpanded[item.idbudget]
                            "
                          ></i>
                        </button>
                      </td>
                      <td>
                        {{ item.codebudget }}
                      </td>
                      <td>{{ item.libelle }}</td>
                      <td>{{ item.entite ? item.entite : "-" }}</td>
                      <td>
                        <span
                          class="badge"
                          [ngClass]="
                            item.isanalytique === 1
                              ? 'bg-success-subtle text-success'
                              : 'bg-danger-subtle text-danger'
                          "
                        >
                          {{ item.isanalytique === 1 ? "Oui" : "Non" }}
                        </span>
                      </td>
                      <td>
                        <span
                          class="badge"
                          [ngClass]="
                            item.valide === 1
                              ? 'bg-success-subtle text-success'
                              : item.valide === 0
                                ? 'bg-warning-subtle text-warning'
                                : 'bg-danger-subtle text-danger'
                          "
                        >
                          {{
                            item.valide === 1
                              ? "Oui"
                              : item.valide === 0
                                ? "En cours"
                                : "Non"
                          }}
                        </span>
                      </td>
                      <td>{{ item.datedebut | date: "dd-MM-yyyy" }}</td>
                      <td>{{ item.datefin | date: "dd-MM-yyyy" }}</td>

                      <td>
                        <span
                          class="badge"
                          [ngClass]="
                            item.actif === 1
                              ? 'bg-success-subtle text-success'
                              : 'bg-danger-subtle text-danger'
                          "
                        >
                          {{ item.actif === 1 ? "Actif" : "Inactif" }}
                        </span>
                      </td>

                      <td class="fw-bold text-end">
                        {{ getPrevisionAnnuel(item) | number: "1.0-0" }}
                      </td>
                      <td class="fw-bold text-end">
                        {{ user.devise_ref_code }}
                      </td>
                      <td>
                        <div class="d-flex align-items-center gap-2">
                          <!-- Bouton modifier -->
                          <a
                            class="text-primary"
                            href="#showModal"
                            data-bs-toggle="modal"
                            (click)="modalUpdate(item)"
                          >
                            <i class="ri-pencil-fill"></i>
                          </a>

                          <!-- Bouton supprimer -->
                          <a
                            *ngIf="
                              getBudgetsMensuels(item.idbudget).length === 0
                            "
                            class="text-danger"
                            (click)="modalDelete(item)"
                            data-bs-toggle="modal"
                            href="#deleteOrder"
                          >
                            <i class="ri-delete-bin-5-fill"></i>
                          </a>

                          <!-- Menu contextuel -->
                          <div class="dropdown">
                            <button
                              class="btn btn-sm btn-outline-primary"
                              type="button"
                              data-bs-toggle="dropdown"
                              aria-expanded="false"
                            >
                              <i class="ri-more-2-fill"></i>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-end">
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="#lignesBudgetairesModal"
                                  data-bs-toggle="modal"
                                  (click)="
                                    onClickAfficherLignesBudgetaire(item)
                                  "
                                >
                                  <i class="ri-time-line me-2"></i>
                                  Consulter les lignes budgétaires
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </td>
                    </tr>

                    <!-- 🔸 LIGNES BUDGETS MENSUELS -->
                    @if (isExpanded[item.idbudget]) {
                      <tr>
                        <td colspan="12" class="bg-light">
                          <table class="table table-sm table-borderless mb-0">
                            <thead class="text-muted">
                              <tr>
                                <th>#</th>
                                <th>Code</th>
                                <th>Libellé</th>
                                <th>Entité</th>
                                <th>Analytique</th>
                                <th>Validé</th>
                                <th>Période</th>
                                <th>Prévision</th>
                                <th>Devise</th>
                                <th>Status</th>
                                <th class="text-end">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              @for (
                                child of getBudgetsMensuels(item.idbudget);
                                track child.idbudget;
                                let i = $index
                              ) {
                                <tr>
                                  <td>{{ i + 1 }}</td>
                                  <td>{{ child.codebudget }}</td>
                                  <td>{{ child.libelle }}</td>
                                  <td>
                                    {{ child.entite ? child.entite : "-" }}
                                  </td>
                                  <td>
                                    <span
                                      class="badge"
                                      [ngClass]="
                                        child.isanalytique === 1
                                          ? 'bg-success-subtle text-success'
                                          : 'bg-danger-subtle text-danger'
                                      "
                                    >
                                      {{
                                        child.isanalytique === 1 ? "Oui" : "Non"
                                      }}
                                    </span>
                                  </td>
                                  <td>
                                    <span
                                      class="badge"
                                      [ngClass]="
                                        child.valide === 1
                                          ? 'bg-success-subtle text-success'
                                          : child.valide === 0
                                            ? 'bg-warning-subtle text-warning'
                                            : 'bg-danger-subtle text-danger'
                                      "
                                    >
                                      {{
                                        child.valide === 1
                                          ? "Oui"
                                          : child.valide === 0
                                            ? "En cours"
                                            : "Non"
                                      }}
                                    </span>
                                  </td>
                                  <td>
                                    {{ child.datedebut | date: "MMM yyyy" }}
                                  </td>
                                  <td class="text-end">
                                    {{
                                      getPrevisionMensuel(child)
                                        | number: "1.0-0"
                                    }}
                                  </td>
                                  <td>{{ user.devise_ref_code }}</td>
                                  <td>
                                    <span
                                      class="badge"
                                      [ngClass]="
                                        child.actif === 1
                                          ? 'bg-success-subtle text-success'
                                          : 'bg-danger-subtle text-danger'
                                      "
                                    >
                                      {{
                                        child.actif === 1 ? "Actif" : "Inactif"
                                      }}
                                    </span>
                                  </td>
                                  <td class="text-end">
                                    <div
                                      class="d-flex justify-content-end align-items-center gap-2"
                                    >
                                      <!-- Modifier -->
                                      <a
                                        href="#showModal"
                                        data-bs-toggle="modal"
                                        (click)="modalUpdate(child)"
                                        class="text-primary"
                                      >
                                        <i class="ri-pencil-fill"></i>
                                      </a>

                                      <!-- Supprimer -->
                                      <a
                                        class="text-danger"
                                        (click)="modalDelete(child)"
                                        data-bs-toggle="modal"
                                        href="#deleteOrder"
                                      >
                                        <i class="ri-delete-bin-5-fill"></i>
                                      </a>

                                      <!-- Menu contextuel -->
                                      <div class="dropdown">
                                        <button
                                          class="btn btn-sm btn-outline-primary"
                                          type="button"
                                          data-bs-toggle="dropdown"
                                          aria-expanded="false"
                                        >
                                          <i class="ri-more-2-fill"></i>
                                        </button>

                                        <ul
                                          class="dropdown-menu dropdown-menu-end"
                                        >
                                          <li>
                                            <a
                                              class="dropdown-item"
                                              href="#lignesBudgetairesModal"
                                              data-bs-toggle="modal"
                                              (click)="
                                                onClickAfficherLignesBudgetaire(
                                                  child
                                                )
                                              "
                                            >
                                              <i class="ri-time-line me-2"></i>
                                              Consulter les lignes budgétaires
                                            </a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              }
                              @if (
                                getBudgetsMensuels(item.idbudget).length === 0
                              ) {
                                <tr>
                                  <td
                                    colspan="5"
                                    class="text-center text-muted py-2"
                                  >
                                    Aucun budget mensuel rattaché
                                  </td>
                                </tr>
                              }
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    }
                  }
                } @else {
                  <tr>
                    <td colspan="9" class="text-center py-5">
                      <i class="ri-inbox-2-line fs-1 text-muted"></i>
                      <h6 class="mt-2">Aucun budget annuel disponible</h6>
                      <p class="text-muted mb-0">
                        Créez un budget annuel pour pouvoir y rattacher des
                        budgets mensuels.
                      </p>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
            <div class="noresult" style="display: none">
              <div class="text-center">
                <h5 class="mt-2">Désole! Aucun resultat trouvé</h5>
                <p class="text-muted">
                  We've searched more than 150+ Orders We did not find any
                  orders for you search.
                </p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <div class="pagination-wrap hstack gap-2">
              <button
                [disabled]="currentPage == 1"
                (click)="changePage(currentPage - 1)"
                class="btn btn-sm btn-soft-primary pagination-prev"
              >
                Précédent
              </button>
              <ul class="pagination listjs-pagination mb-0"></ul>
              <button
                [disabled]="currentPage == totalPages"
                (click)="changePage(currentPage + 1)"
                class="btn btn-sm btn-soft-primary pagination-next"
              >
                Suivant
              </button>
            </div>
          </div>
        </div>

        <div
          class="modal fade"
          id="showModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">
                  {{ actionModal === "create" ? "Création" : "Modification" }}
                  Budget
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  id="close-modal"
                  (click)="closeModal('showModal')"
                ></button>
              </div>
              <form [formGroup]="budgetForm">
                <div class="modal-body">
                  <input type="hidden" id="id-field" />

                  <div class="mb-3" id="modal-id">
                    <label for="orderId" class="form-label form-label-sm"
                      >Code</label
                    >
                    <input
                      type="text"
                      id="orderId"
                      class="form-control form-control-sm {{
                        isValidField('codebudget')
                      }}"
                      formControlName="codebudget"
                      placeholder=""
                      required
                    />
                  </div>

                  <div class="mb-3">
                    <label class="form-label form-label-sm" for=""
                      >Type de budget</label
                    >
                    <select
                      class="form-select form-control form-control-sm {{
                        isValidField('typebudget')
                      }}"
                      aria-label="Default select example"
                      id="typebudget-field"
                      formControlName="typebudget"
                    >
                      <option [ngValue]="null">-- Sélectionner --</option>
                      <option value="Annuel">Annuel</option>
                      <option value="Mensuel">Mensuel</option>
                    </select>
                    <!-- <div class="invalid-feedback">{{ msgErros }}</div> -->
                  </div>

                  @if (budgetForm.value.typebudget === "Mensuel") {
                    <div class="mb-3">
                      <label
                        for="idbudgetparent-field"
                        class="form-label form-label-sm"
                        >Budget Parent</label
                      >
                      <select
                        class="form-select form-control form-control-sm"
                        aria-label="Default select example"
                        id="idbudgetparent"
                        formControlName="idbudgetparent"
                        (change)="onSelectionChange($event)"
                      >
                        <option [ngValue]="null">-- Sélectionner --</option>
                        @for (item of budgets; track $index) {
                          @if (item.typebudget === "Annuel") {
                            <option [value]="item.idbudget">
                              {{ item.codebudget }} - {{ item.libelle }}
                            </option>
                          }
                        }
                      </select>
                      <!-- <div class="invalid-feedback">{{ msgErros }}</div> -->
                    </div>
                  }

                  <div class="mb-3" id="modal-id">
                    <label
                      for="libellebudgetId"
                      class="form-label form-label-sm"
                      >Libellé</label
                    >
                    <input
                      type="text"
                      id="libellebudgetId"
                      class="form-control form-control-sm {{
                        isValidField('libelle')
                      }}"
                      formControlName="libelle"
                      placeholder=""
                      required
                    />
                  </div>

                  <div
                    class="mb-3 d-flex align-items-center justify-content-between p-2 border rounded bg-light-subtle shadow-sm"
                  >
                    <div class="d-flex align-items-center">
                      <i class="ri-settings-4-line me-2 text-primary fs-18"></i>
                      <div>
                        <h6 class="mb-0 fs-13">Gestion analytique</h6>
                        <small class="text-muted"
                          >Gérer les lignes budgétaires analytiquement ?</small
                        >
                      </div>
                    </div>
                    <div class="form-check form-switch form-switch-md">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="customSwitchEntite"
                        formControlName="isanalytique"
                        role="switch"
                      />
                      <label
                        class="form-check-label"
                        for="customSwitchEntite"
                      ></label>
                    </div>
                  </div>

                  @if (
                    budgetForm.value.isanalytique === false ||
                    (selectedBudget &&
                      (selectedBudget.isanalytique === 0 ||
                        selectedBudget.isanalytique === null))
                  ) {
                    <div class="mb-3">
                      <label
                        class="form-label form-label-sm"
                        for="entite-field"
                      >
                        Entité
                      </label>

                      <select
                        id="entite-field"
                        class="form-select form-control form-control-sm {{
                          isValidField('entite')
                        }}"
                        formControlName="entite"
                      >
                        <option [ngValue]="null">-- Sélectionner --</option>

                        <option value="Département">Département</option>
                        <option value="Site">Site</option>
                      </select>

                      <!-- <div class="invalid-feedback">{{ msgErros }}</div> -->
                    </div>
                  }

                  <div class="mb-3">
                    <div>
                      <label for="datedebut_field" class="form-label mb-0"
                        >Date début</label
                      >
                      <input
                        type="date"
                        id="datedebut_field"
                        class="form-control form-control-sm {{
                          isValidField('datedebut')
                        }}"
                        formControlName="datedebut"
                      />

                      <div
                        class="invalid-feedback"
                        *ngIf="hasError('datedebut', 'invalidMonthRange')"
                      >
                        Le budget mensuel doit couvrir un mois complet.
                      </div>

                      <div
                        class="invalid-feedback"
                        *ngIf="hasError('datedebut', 'outOfParentRange')"
                      >
                        La date de début est hors de la période du budget
                        parent.
                      </div>

                      <div
                        class="invalid-feedback"
                        *ngIf="hasError('datedebut', 'duplicateMonthlyBudget')"
                      >
                        Un budget mensuel existe déjà pour ce mois.
                      </div>

                      <div
                        class="invalid-feedback"
                        *ngIf="hasError('datedebut', 'invalidAnnualStartDate')"
                      >
                        Pour un budget annuel, la date de début doit être le
                        01/01 de l'année.
                      </div>
                      <div
                        class="invalid-feedback"
                        *ngIf="hasError('datedebut', 'duplicateAnnualBudget')"
                      >
                        Un budget annuel existe déjà pour ce site pour cette
                        année.
                      </div>
                      <!-- <div class="invalid-feedback">{{ msgErros }}</div> -->
                    </div>
                  </div>
                  <div class="mb-3">
                    <div>
                      <label for="datefin_field" class="form-label mb-0"
                        >Date fin</label
                      >
                      <input
                        type="date"
                        id="datefin_field"
                        class="form-control form-control-sm {{
                          isValidField('datefin')
                        }}"
                        formControlName="datefin"
                      />
                      <div
                        class="invalid-feedback"
                        *ngIf="hasError('datefin', 'startAfterEnd')"
                      >
                        La date de fin doit être postérieure à la date de début.
                      </div>

                      <div
                        class="invalid-feedback"
                        *ngIf="hasError('datefin', 'invalidMonthRange')"
                      >
                        La date de fin doit correspondre au dernier jour du
                        mois.
                      </div>

                      <div
                        class="invalid-feedback"
                        *ngIf="hasError('datefin', 'outOfParentRange')"
                      >
                        La date de fin est hors de la période du budget parent.
                      </div>

                      <div
                        class="invalid-feedback"
                        *ngIf="hasError('datefin', 'duplicateMonthlyBudget')"
                      >
                        Un budget mensuel existe déjà pour cette période.
                      </div>

                      <div
                        class="invalid-feedback"
                        *ngIf="hasError('datefin', 'invalidAnnualEndDate')"
                      >
                        Pour un budget annuel, la date de fin doit être le 31/12
                        de la même année.
                      </div>
                      <div
                        class="invalid-feedback"
                        *ngIf="hasError('datefin', 'duplicateAnnualBudget')"
                      >
                        Un budget annuel existe déjà pour ce site pour cette
                        année.
                      </div>
                      <!-- <div class="invalid-feedback">{{ msgErros }}</div> -->
                    </div>
                  </div>

                  <div class="mb-3">
                    <label
                      class="form-label form-label-sm"
                      for="idcircuitvalidation-field"
                      [hidden]="true"
                      >Circuit de validation</label
                    >
                    <input
                      type="text"
                      id="idcircuitvalidation-field"
                      class="form-control form-control-sm {{
                        isValidField('idcircuitvalidation')
                      }}"
                      formControlName="idcircuitvalidation"
                      [value]="circuitValidation?.idcircuitvalidation"
                      [hidden]="true"
                    />

                    <!-- <div class="invalid-feedback">{{ msgErros }}</div> -->
                  </div>
                  <div class="mb-3">
                    <label
                      class="form-label form-label-sm"
                      [hidden]="true"
                      for=""
                      >Site</label
                    >
                    <input
                      type="text"
                      id="idsite-field"
                      class="form-control form-control-sm {{
                        isValidField('idsite')
                      }}"
                      formControlName="idsite"
                      [value]="user.idsite"
                      [hidden]="true"
                    />
                    <!-- <div class="invalid-feedback">{{ msgErros }}</div> -->
                  </div>
                  <div class="mb-3">
                    <label
                      class="form-label form-label-sm"
                      for=""
                      [hidden]="true"
                      >Société</label
                    >
                    <input
                      type="text"
                      id="idsociete-field"
                      class="form-control form-control-sm {{
                        isValidField('idsociete')
                      }}"
                      formControlName="idsociete"
                      [value]="user.idsociete"
                      [hidden]="true"
                    />
                    <!-- <div class="invalid-feedback">{{ msgErros }}</div> -->
                  </div>

                  <div class="mb-3">
                    <div class="form-check form-switch">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        role="switch"
                        value="1"
                        formControlName="actif"
                        id="flexSwitchCheckChecked"
                        checked
                      />
                      <label
                        class="form-check-label"
                        for="flexSwitchCheckChecked"
                        >Actif</label
                      >
                    </div>
                  </div>
                  <div *ngIf="msgErros" class="alert alert-danger mt-2">
                    {{ msgErros }}
                  </div>
                </div>

                <div class="modal-footer">
                  <div class="hstack gap-2 justify-content-end">
                    <button
                      type="button"
                      class="btn btn-sm btn-light"
                      data-bs-dismiss="modal"
                    >
                      Fermer
                    </button>
                    <button
                      type="submit"
                      class="btn btn-sm btn-success"
                      id="add-btn"
                      (click)="onSubmit()"
                    >
                      {{
                        actionModal === "create" ? "Enregistrer" : "Modifier"
                      }}
                    </button>
                    <!-- <button type="button" class="btn btn-success" id="edit-btn">Update</button> -->
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="modal fade" id="modalLignesBudget" tabindex="-1">
          <div
            class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable"
          >
            <div class="modal-content shadow-lg rounded-4">
              <!-- HEADER -->
              <div class="modal-header bg-light">
                <div>
                  <h5 class="modal-title mb-0">Lignes budgétaires</h5>
                  <small class="text-muted">
                    {{ selectedBudgetForLignes?.codebudget }} —
                    {{ selectedBudgetForLignes?.libelle }}
                  </small>
                </div>

                <button
                  type="button"
                  class="btn-close"
                  (click)="closeLignesBudgetModal()"
                ></button>
              </div>

              <!-- BODY -->
              <div class="modal-body p-0">
                <table class="table table-hover mb-0 align-middle">
                  <thead class="table-light">
                    <tr>
                      <th>Nature</th>
                      <th class="text-end">Département</th>
                      <th class="text-end">Site</th>
                      <th class="text-end">Société</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let l of lignesBudgetDuBudget">
                      <td>{{ l.nature_operation?.libelle }}</td>
                      <td class="text-end fw-semibold">
                        {{ l.montantprevisiondept | number: "1.0-0" }}
                      </td>
                      <td class="text-end">
                        {{ l.montantprevisionsite | number: "1.0-0" }}
                      </td>
                      <td class="text-end">
                        {{ l.montantprevisionsociete | number: "1.0-0" }}
                      </td>
                    </tr>

                    <tr *ngIf="lignesBudgetDuBudget.length === 0">
                      <td colspan="4" class="text-center text-muted py-4">
                        Aucune ligne budgétaire pour ce budget
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- FOOTER -->
              <div class="modal-footer bg-light">
                <button
                  class="btn btn-outline-secondary"
                  (click)="closeLignesBudgetModal()"
                >
                  Fermer
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div
          class="modal fade flip"
          id="deleteOrder"
          tabindex="-1"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body p-5 text-center">
                <div class="mt-4 text-center">
                  <h4>{{ titleMsg }}</h4>
                  <p class="text-muted fs-15 mb-4">{{ msgSup }}</p>
                  <div class="hstack gap-2 justify-content-center remove">
                    <button
                      class="btn btn-sm btn-link link-success fw-medium text-decoration-none"
                      id="deleteRecord-close"
                      data-bs-dismiss="modal"
                    >
                      <i class="ri-close-line me-1 align-middle"></i> annuler
                    </button>
                    <button
                      class="btn btn-sm btn-danger"
                      (click)="deleteConfirmed()"
                      id="delete-record"
                    >
                      Oui, supprimer
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end modal -->
        <!-- Modal visionnage des validateurs -->
        <div
          class="modal fade"
          id="lignesBudgetairesModal"
          tabindex="-1"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
              <!-- HEADER -->
              <div class="modal-header bg-light p-3">
                <h5 class="modal-title">
                  Lignes budgétaire du budget:
                  {{ selectedBudget?.codebudget }} -
                  {{ selectedBudget?.libelle }}
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  (click)="closeModal('lignesBudgetairesModal')"
                ></button>
              </div>

              <!-- BODY -->
              <div class="modal-body">
                <!-- TABLE -->
                <div class="table-responsive">
                  <table
                    class="table table-bordered table-striped align-middle table-compact"
                  >
                    <thead class="table-light">
                      <tr>
                        <th style="width: 50px">#</th>
                        <th>Code budgétaire</th>
                        <th *ngIf="selectedBudget?.entite === 'Département'">
                          Département
                        </th>
                        <th *ngIf="selectedBudget?.isanalytique === 1">Code</th>
                        <th>
                          {{
                            selectedBudget?.isanalytique === 1
                              ? "Centre analytique"
                              : "Nature d'opération"
                          }}
                        </th>
                        <th
                          *ngIf="
                            selectedBudget?.entite === 'Département' ||
                            selectedBudget?.isanalytique === 1
                          "
                        >
                          Prévision Département
                        </th>
                        <th>Prévision Site</th>
                        <th>Prévision Société</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let ligne of lignesByBudget; let i = index">
                        <td class="text-center">{{ i + 1 }}</td>
                        <td>{{ ligne.codebudgetaire || "—" }}</td>
                        <td *ngIf="selectedBudget?.entite === 'Département'">
                          {{ ligne.departement?.libelle }}
                        </td>
                        <td *ngIf="selectedBudget?.isanalytique === 1">
                          {{ ligne.centre_analytique?.codecentreanalytique }}
                        </td>
                        <td>
                          {{
                            selectedBudget?.isanalytique
                              ? ligne.centre_analytique?.libelle
                              : ligne.nature_operation?.libelle
                          }}
                        </td>

                        <td
                          *ngIf="
                            selectedBudget?.entite === 'Département' ||
                            selectedBudget?.isanalytique === 1
                          "
                        >
                          {{
                            ligne.montantprevisiondept | number: "1.0-0" : "fr"
                          }}
                        </td>

                        <td>
                          {{
                            ligne.montantprevisionsite | number: "1.0-0" : "fr"
                          }}
                        </td>

                        <td>
                          {{
                            ligne.montantprevisionsociete
                              | number: "1.0-0" : "fr"
                          }}
                        </td>
                      </tr>
                      <tr *ngIf="lignesByBudget.length === 0">
                        <td colspan="6" class="text-center text-muted py-3">
                          Aucune ligne budgétaire n'est associée à ce budget.
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div *ngIf="msgErros" class="alert alert-danger mt-2">
                  {{ msgErros }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end col-->
</div>
<!--end row-->
