<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div
      class="page-title-box d-sm-flex align-items-center justify-content-between"
    >
      <h4 class="mb-sm-0">{{ title }}</h4>
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a href="javascript: void(0);">Données de base</a>
          </li>
          <li class="breadcrumb-item active">{{ title }}</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- end page title -->

<div class="row">
  <div class="col-lg-12">
    <div class="card" id="orderList">
      <div class="card-header border-0">
        <div class="row align-items-center gy-3">
          <div class="col-sm-auto">
            <div class="d-flex gap-1 flex-wrap">
              <button
                type="button"
                class="btn btn-sm btn-soft-success"
                data-bs-toggle="modal"
                (click)="modalCreate()"
                id="create-btn"
                data-bs-target="#showModal"
              >
                <i class="ri-add-line align-bottom me-1"></i>créer
              </button>
              <button type="button" class="btn btn-sm btn-soft-info">
                <i class="ri-file-download-line align-bottom me-1"></i> import
              </button>
              <button
                class="btn btn-sm btn-soft-danger"
                [disabled]="!checkAllRow"
                onClick="deleteMultiple()"
              >
                <i class="ri-delete-bin-2-line"></i>
              </button>
              <button type="button" class="btn btn-sm btn-info">
                <i class="ri-refresh-fill align-bottom me-1"></i>actualiser
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body border border-dashed border-end-0 border-start-0">
        <form (ngSubmit)="onClickAfficher()" #filterForm="ngForm">
          <div class="row g-3">
            <div class="col-xxl-5 col-sm-6">
              <div class="search-box">
                <select
                  class="form-select"
                  name="budget"
                  [(ngModel)]="selectedBudgetId"
                  required
                >
                  <option [ngValue]="null">-- Sélectionner --</option>
                  <option
                    *ngFor="let budget of budgets"
                    [ngValue]="budget.idbudget"
                  >
                    {{ budget.codebudget }} : {{ budget.libelle }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-xxl-1 col-sm-2">
              <button
                type="submit"
                class="btn btn-sm btn-primary py-2"
                [disabled]="!selectedBudgetId"
              >
                <i class="ri-equalizer-fill me-1 align-bottom"></i>
                Afficher
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="card-body pt-0">
        <div>
          <ul
            class="nav nav-tabs nav-tabs-custom nav-success mb-3"
            role="tablist"
          ></ul>

          <div class="table-responsive table-card mb-1">
            <table class="table table-nowrap align-middle" id="orderTable">
              <thead class="text-muted table-light">
                <tr class="text-uppercase">
                  <th scope="col" style="width: 25px">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        [(ngModel)]="checkAllRow"
                        id="checkAll"
                        (ngModelChange)="handleSelectAll($event)"
                      />
                    </div>
                  </th>
                  <th class="sort" data-sort="id">Budget</th>
                  <th
                    *ngIf="!isAnalytique()"
                    class="sort"
                    data-sort="customer_name"
                  >
                    Département
                  </th>
                  <th *ngIf="isAnalytique()">Code</th>
                  <th class="sort" data-sort="customer_name">
                    {{
                      selectedBudget?.isanalytique === 1
                        ? "Centre analytique"
                        : "Nature opération"
                    }}
                  </th>
                  <th
                    *ngIf="
                      selectedBudget?.entite === 'Département' || isAnalytique()
                    "
                    class="sort"
                    data-sort="customer_name"
                  >
                    Montant prev dept.
                  </th>
                  <th class="sort" data-sort="customer_name">
                    Montant prev site
                  </th>
                  <th class="sort" data-sort="customer_name">
                    Montant prev société
                  </th>
                  <th class="sort" data-sort="city">Action</th>
                </tr>
              </thead>
              <tbody class="list form-check-all">
                @if (loading) {
                  <tr>
                    <td colspan="8" class="text-center text-muted py-4">
                      <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Chargement...</span>
                      </div>
                      <p class="mt-2">Chargement des données...</p>
                    </td>
                  </tr>
                }
                @if (paginatedLignes === null) {
                  <tr>
                    <td colspan="8" class="text-center text-muted py-4">
                      Veuillez sélectionner un budget pour afficher les lignes
                      budgétaires.
                    </td>
                  </tr>
                }
                <!-- En-tête Budget -->

                <tr
                  class="table-primary fw-bold"
                  *ngIf="paginatedLignes !== null"
                >
                  <td colspan="8">
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <div>
                        Budget : {{ paginatedLignes.budget.codebudget }} -
                        {{ paginatedLignes.budget.libelle }}
                      </div>
                      <div class="dropdown">
                        <button
                          class="btn btn-sm btn-outline-primary"
                          type="button"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                          (click)="
                            getAllValidateursBudget(
                              paginatedLignes.budget.idbudget
                            )
                          "
                        >
                          <i class="ri-more-2-fill"></i>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-end">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#validateursBudgetModal"
                              data-bs-toggle="modal"
                            >
                              <i class="ri-time-line me-2"></i>
                              Historique de validation
                            </a>
                          </li>

                          <li
                            *ngIf="
                              (user.typeentitesite === 1 ||
                                user.typeentitesociete === 1) &&
                              isValidateur() &&
                              !isRejected()
                            "
                          >
                            <hr class="dropdown-divider" />
                          </li>

                          <li
                            *ngIf="
                              (user.typeentitesite === 1 ||
                                user.typeentitesociete === 1) &&
                              isValidateur() &&
                              !isRejected()
                            "
                          >
                            <a
                              class="dropdown-item text-success"
                              data-bs-toggle="modal"
                              href="#validateBudgetModal"
                              (click)="
                                openValidationBudget(paginatedLignes.budget)
                              "
                            >
                              <i class="ri-check-line me-2"></i>
                              Valider le budget
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </td>
                </tr>

                <!-- Lignes du budget -->
                @if (
                  paginatedLignes !== null &&
                  paginatedLignes.lignes.length === 0
                ) {
                  <tr>
                    <td colspan="8" class="text-center text-muted py-4">
                      Aucune ligne budgétaire n'est associée à ce budget.
                    </td>
                  </tr>
                }
                @if (
                  paginatedLignes !== null && paginatedLignes.lignes.length > 0
                ) {
                  @for (
                    item of paginatedLignes.lignes;
                    track item.idbudgetdepartementnature
                  ) {
                    <tr>
                      <th scope="row">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            [checked]="
                              isChecked(item.idbudgetdepartementnature)
                            "
                            [(ngModel)]="
                              selectedItems[item.idbudgetdepartementnature]
                            "
                            (ngModelChange)="handleSelectOne(item, $event)"
                            type="checkbox"
                          />
                        </div>
                      </th>

                      <td>{{ paginatedLignes.budget.codebudget }}</td>
                      <td
                        *ngIf="
                          !isAnalytique() ||
                          selectedBudget?.entite === 'Département'
                        "
                      >
                        {{ item.departement?.libelle || "—" }}
                      </td>
                      <td *ngIf="isAnalytique()">
                        {{
                          item.centre_analytique?.codecentreanalytique || "—"
                        }}
                      </td>
                      <td>
                        {{
                          isAnalytique()
                            ? item.centre_analytique?.libelle || "—"
                            : item.nature_operation?.libelle || "—"
                        }}
                      </td>
                      <td
                        *ngIf="
                          selectedBudget?.entite === 'Département' ||
                          isAnalytique()
                        "
                        class="text-end"
                      >
                        {{ item.montantprevisiondept | number: "1.0-0" : "fr" }}
                      </td>
                      <td class="text-end">
                        {{ item.montantprevisionsite | number: "1.0-0" : "fr" }}
                      </td>
                      <td class="text-end">
                        {{
                          item.montantprevisionsociete | number: "1.0-0" : "fr"
                        }}
                      </td>

                      <td class="text-end">
                        <a
                          href="#showModal"
                          data-bs-toggle="modal"
                          (click)="modalUpdate(item)"
                          class="text-primary me-2"
                        >
                          <i class="ri-pencil-fill"></i>
                        </a>
                        <a
                          class="text-danger"
                          (click)="modalDelete(item)"
                          data-bs-toggle="modal"
                          href="#deleteOrder"
                        >
                          <i class="ri-delete-bin-5-fill"></i>
                        </a>
                      </td>
                    </tr>
                  }
                }
              </tbody>
            </table>
            <div class="noresult" style="display: none">
              <div class="text-center">
                <h5 class="mt-2">Désole! Aucun resultat trouvé</h5>
                <p class="text-muted">
                  We've searched more than 150+ Orders We did not find any
                  orders for you search.
                </p>
              </div>
            </div>
          </div>
          <!-- Remplacer la section de pagination par celle-ci -->
          <div class="d-flex justify-content-between align-items-center mt-3">
            <div class="pagination-info">
              <!-- <span
                class="text-muted"
                *ngIf="paginatedLignes !== null && totalItems > 0"
              >
                Affichage de
                {{ (currentPage - 1) * limit + 1 }} à
                {{ Math.min(currentPage * limit, totalItems) }}
                sur {{ totalItems }} ligne(s)
              </span>
              <span class="text-muted" *ngIf="paginatedLignes === null">
                Aucun budget sélectionné
              </span> -->
            </div>

            <div class="d-flex gap-2 align-items-center">
              <!-- Sélecteur du nombre d'éléments -->
              <select
                class="form-select form-select-sm w-auto"
                [(ngModel)]="limit"
                (ngModelChange)="onLimitChange($event)"
                style="width: auto"
                *ngIf="paginatedLignes !== null"
              >
                <option [value]="5">5 par page</option>
                <option [value]="10">10 par page</option>
                <option [value]="20">20 par page</option>
                <option [value]="50">50 par page</option>
              </select>

              <!-- Boutons de pagination -->
              <div
                class="btn-group"
                role="group"
                *ngIf="paginatedLignes !== null && totalPages > 0"
              >
                <!-- Bouton Première page -->
                <button
                  class="btn btn-sm btn-outline-primary"
                  [disabled]="currentPage === 1"
                  (click)="changePage(1)"
                >
                  <i class="ri-skip-back-line"></i>
                </button>

                <!-- Bouton Précédent -->
                <button
                  class="btn btn-sm btn-outline-primary"
                  [disabled]="currentPage === 1"
                  (click)="changePage(currentPage - 1)"
                >
                  <i class="ri-arrow-left-s-line"></i>
                </button>

                <!-- Numéros de page -->
                <ng-container *ngFor="let page of getPageNumbers()">
                  <button
                    *ngIf="page !== -1"
                    class="btn btn-sm"
                    [class.btn-primary]="page === currentPage"
                    [class.btn-outline-primary]="page !== currentPage"
                    (click)="changePage(page)"
                  >
                    {{ page }}
                  </button>
                  <span *ngIf="page === -1" class="px-2">...</span>
                </ng-container>

                <!-- Bouton Suivant -->
                <button
                  class="btn btn-sm btn-outline-primary"
                  [disabled]="currentPage === totalPages"
                  (click)="changePage(currentPage + 1)"
                >
                  <i class="ri-arrow-right-s-line"></i>
                </button>

                <!-- Bouton Dernière page -->
                <button
                  class="btn btn-sm btn-outline-primary"
                  [disabled]="currentPage === totalPages"
                  (click)="changePage(totalPages)"
                >
                  <i class="ri-skip-forward-line"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal création/modification budget -->
        <div
          class="modal fade"
          id="showModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
        >
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">
                  <span *ngIf="actionModal === 'create'">Création</span>
                  <span *ngIf="actionModal === 'update'">Modification</span>
                  ligne budgétaire
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  id="close-modal"
                  (click)="resetModeSaisie()"
                ></button>
              </div>
              <form [formGroup]="ligneBudgetForm">
                <div class="modal-body">
                  <input type="hidden" id="id-field" />
                  <div class="mb-3" id="modal-id">
                    <label for="idbudget-field" class="form-label form-label-sm"
                      >Budget</label
                    >
                    <select
                      class="form-select form-control form-control-sm {{
                        isValidField('idbudget')
                      }}"
                      aria-label="Default select example"
                      id="idbudget-field"
                      formControlName="idbudget"
                      (change)="onSelectionChange($event)"
                      [class.bg-light]="actionModal === 'update'"
                    >
                      >
                      <option [ngValue]="null">-- Sélectionner --</option>
                      @for (item of budgets; track $index) {
                        <option [value]="item.idbudget">
                          {{ item.codebudget }} - {{ item.libelle }}
                        </option>
                      }
                    </select>
                    <div class="invalid-feedback">{{ msgErros }}</div>
                  </div>

                  <div
                    class="mb-3"
                    *ngIf="selectedBudget?.entite === 'Département'"
                  >
                    <label class="form-label">Département</label>
                    <select
                      class="form-select"
                      (change)="onDepartementChange($event)"
                      formControlName="iddepartement"
                      [class.bg-light]="actionModal === 'update'"
                    >
                      <option value="">-- Sélectionner --</option>
                      <option
                        *ngFor="let dep of appartenanceDepartement"
                        [value]="dep.iddepartement"
                      >
                        {{ dep.libelle }}
                      </option>
                    </select>
                  </div>

                  <!-- Bouton de saisie -->
                  <div
                    class="btn-group mb-3"
                    *ngIf="ligneBudgetForm.value.idbudget !== ''"
                  >
                    <button
                      type="button"
                      class="btn btn-sm"
                      [class.btn-primary]="modeSaisie === 'ALL'"
                      [class.btn-outline-primary]="modeSaisie !== 'ALL'"
                      (click)="setMode('ALL')"
                    >
                      Saisie complète
                    </button>

                    <button
                      type="button"
                      class="btn btn-sm"
                      [class.btn-primary]="modeSaisie === 'STEP'"
                      [class.btn-outline-primary]="modeSaisie !== 'STEP'"
                      [disabled]="actionModal === 'update'"
                      (click)="setMode('STEP')"
                    >
                      Saisie progressive
                    </button>
                  </div>

                  <div
                    *ngIf="
                      (modeSaisie === 'STEP' || modeSaisie === 'ALL') &&
                      selectedBudget?.entite === 'Département'
                    "
                  >
                    <div class="table-container">
                      <table
                        class="table table-bordered table-striped align-middle table-custom"
                      >
                        <thead class="table-light">
                          <tr>
                            <th>#</th>
                            <th>
                              {{
                                isAnalytique()
                                  ? "Centre analytique"
                                  : "Nature opération"
                              }}
                            </th>
                            <th class="text-nowrap">
                              Montant prévision département
                            </th>
                            <th class="text-nowrap">Montant prévision site</th>
                            <th class="text-nowrap">
                              Montant prévision société
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let ligne of natureGrid; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td class="text-nowrap">{{ ligne.libelle }}</td>
                            <td>
                              <input
                                type="number"
                                class="form-control form-control-sm input-custom"
                                [disabled]="
                                  selectedBudget?.validedept === 1 ||
                                  user.typeentitedepartement !== 1
                                "
                                [(ngModel)]="ligne.montantDept"
                                [ngModelOptions]="{ standalone: true }"
                                (ngModelChange)="
                                  onMontantChange(ligne, 'montantDept', $event)
                                "
                              />
                            </td>
                            <td>
                              <input
                                type="number"
                                class="form-control form-control-sm input-custom"
                                [disabled]="
                                  selectedBudget?.validedept === 0 ||
                                  selectedBudget?.validesite === 1 ||
                                  user.typeentitesite !== 1
                                "
                                [(ngModel)]="ligne.montantSite"
                                [ngModelOptions]="{ standalone: true }"
                                (ngModelChange)="
                                  onMontantChange(ligne, 'montantSite', $event)
                                "
                              />
                            </td>
                            <td>
                              <input
                                type="number"
                                class="form-control form-control-sm input-custom"
                                [disabled]="
                                  selectedBudget?.validesite !== 1 ||
                                  user.typeentitesociete !== 1 ||
                                  selectedBudget?.validesociete === 1
                                "
                                [(ngModel)]="ligne.montantSociete"
                                [ngModelOptions]="{ standalone: true }"
                                (ngModelChange)="
                                  onMontantChange(
                                    ligne,
                                    'montantSociete',
                                    $event
                                  )
                                "
                              />
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div
                      *ngIf="modeSaisie === 'STEP'"
                      class="d-flex align-items-end gap-2 mb-3"
                    >
                      <div class="flex-grow-1">
                        <label class="form-label mb-1"
                          >Nature d'opération</label
                        >
                        <select
                          class="form-select form-select-sm"
                          [(ngModel)]="selectedNatureId"
                          [ngModelOptions]="{ standalone: true }"
                        >
                          <option [ngValue]="null">— Sélectionner —</option>

                          <option
                            *ngFor="let n of availableNatures"
                            [ngValue]="n.idnature"
                          >
                            {{ n.libelle }}
                          </option>
                        </select>
                      </div>

                      <button
                        class="btn btn-sm btn-outline-primary"
                        [disabled]="!selectedNatureId"
                        (click)="addSelectedNature()"
                      >
                        + Ajouter
                      </button>
                    </div>
                  </div>

                  <div
                    *ngIf="
                      natureGrid.length === 0 &&
                      selectedBudget?.entite === 'Département' &&
                      selectedDept
                    "
                  >
                    <table
                      class="table table-bordered table-striped align-middle"
                    >
                      <thead class="table-light">
                        <tr>
                          <th>#</th>
                          <th>Nature opération</th>
                          <th>Montant prévision département</th>
                          <th>Montant prévision site</th>
                          <th>Montant prévision société</th>
                        </tr>
                      </thead>
                      <tbody class="list form-check-all">
                        <tr>
                          <td colspan="8" class="text-center text-muted py-4">
                            Aucune nature d'opération n'a été affectée à ce
                            département.
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <!-- Entité Site -->
                  <div
                    *ngIf="
                      selectedBudget?.entite === 'Site' &&
                      (modeSaisie === 'STEP' || modeSaisie === 'ALL')
                    "
                  >
                    <div class="table-container">
                      <table
                        class="table table-bordered table-striped align-middle table-custom"
                      >
                        <thead class="table-light">
                          <tr>
                            <th>#</th>
                            <th class="text-nowrap">Nature opération</th>
                            <th class="text-nowrap">Montant prévision site</th>
                            <th class="text-nowrap">
                              Montant prévision société
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          @if (
                            natureGrid.length === 0 &&
                            selectedBudget?.entite === "Site"
                          ) {
                            <td colspan="4" class="text-center text-muted py-4">
                              Aucune nature d'opération disponible pour ce site.
                            </td>
                          } @else {
                            <tr *ngFor="let ligne of natureGrid; let i = index">
                              <td>{{ i + 1 }}</td>
                              <td class="text-nowrap">{{ ligne.libelle }}</td>

                              <!-- SITE -->
                              <td>
                                <input
                                  type="number"
                                  class="form-control form-control-sm input-custom"
                                  [disabled]="
                                    selectedBudget?.validesite === 1 ||
                                    user.typeentitesite !== 1
                                  "
                                  [(ngModel)]="ligne.montantSite"
                                  [ngModelOptions]="{ standalone: true }"
                                  (ngModelChange)="
                                    onMontantChange(
                                      ligne,
                                      'montantSite',
                                      $event
                                    )
                                  "
                                />
                              </td>

                              <!-- SOCIETE -->
                              <td>
                                <input
                                  type="number"
                                  class="form-control form-control-sm input-custom"
                                  [disabled]="
                                    selectedBudget?.validesite !== 1 ||
                                    user.typeentitesociete !== 1 ||
                                    selectedBudget?.validesociete === 1
                                  "
                                  [(ngModel)]="ligne.montantSociete"
                                  [ngModelOptions]="{ standalone: true }"
                                  (ngModelChange)="
                                    onMontantChange(
                                      ligne,
                                      'montantSociete',
                                      $event
                                    )
                                  "
                                />
                              </td>
                            </tr>
                          }
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div
                    *ngIf="
                      modeSaisie === 'STEP' && selectedBudget?.entite === 'Site'
                    "
                    class="d-flex align-items-end gap-2 mb-3"
                  >
                    <div class="flex-grow-1">
                      <label class="form-label mb-1">Nature d'opération</label>
                      <select
                        class="form-select form-select-sm"
                        [(ngModel)]="selectedNatureId"
                        [ngModelOptions]="{ standalone: true }"
                      >
                        <option [ngValue]="null">— Sélectionner —</option>

                        <option
                          *ngFor="let n of availableNatures"
                          [ngValue]="n.idnature"
                        >
                          {{ n.libelle }}
                        </option>
                      </select>
                    </div>

                    <button
                      class="btn btn-sm btn-outline-primary"
                      [disabled]="!selectedNatureId"
                      (click)="addSelectedNature()"
                    >
                      + Ajouter
                    </button>
                  </div>

                  <!-- Bugdet isanalytique -->
                  <div
                    *ngIf="
                      (modeSaisie === 'STEP' || modeSaisie === 'ALL') &&
                      selectedBudget?.isanalytique === 1
                    "
                  >
                    <div class="table-container">
                      <table
                        class="table table-bordered table-striped align-middle table-custom"
                      >
                        <thead class="table-light">
                          <tr>
                            <th>#</th>
                            <th *ngIf="isAnalytique()">Code</th>
                            <th>
                              {{
                                isAnalytique()
                                  ? "Centre analytique"
                                  : "Nature opération"
                              }}
                            </th>
                            <th class="text-nowrap">
                              Montant prévision département
                            </th>
                            <th class="text-nowrap">Montant prévision site</th>
                            <th class="text-nowrap">
                              Montant prévision société
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          @if (natureGrid.length === 0 && isAnalytique()) {
                            <td colspan="8" class="text-center text-muted py-4">
                              Aucun centre analytique disponible.
                            </td>
                          } @else {
                            <tr *ngFor="let ligne of natureGrid; let i = index">
                              <td>{{ i + 1 }}</td>
                              <td *ngIf="isAnalytique()">
                                {{ ligne.codecentreanalytique }}
                              </td>
                              <td class="text-nowrap">{{ ligne.libelle }}</td>
                              <td>
                                <input
                                  type="number"
                                  class="form-control form-control-sm input-custom"
                                  [disabled]="
                                    selectedBudget?.validedept === 1 ||
                                    user.typeentitedepartement !== 1
                                  "
                                  [(ngModel)]="ligne.montantDept"
                                  [ngModelOptions]="{ standalone: true }"
                                  (ngModelChange)="
                                    onMontantChange(
                                      ligne,
                                      'montantDept',
                                      $event
                                    )
                                  "
                                />
                              </td>
                              <td>
                                <input
                                  type="number"
                                  class="form-control form-control-sm input-custom"
                                  [disabled]="
                                    selectedBudget?.validesite === 1 ||
                                    user.typeentitesite !== 1 ||
                                    selectedBudget?.validedept === 0
                                  "
                                  [(ngModel)]="ligne.montantSite"
                                  [ngModelOptions]="{ standalone: true }"
                                  (ngModelChange)="
                                    onMontantChange(
                                      ligne,
                                      'montantSite',
                                      $event
                                    )
                                  "
                                />
                              </td>
                              <td>
                                <input
                                  type="number"
                                  class="form-control form-control-sm input-custom"
                                  [disabled]="
                                    selectedBudget?.validesite !== 1 ||
                                    user.typeentitesociete !== 1 ||
                                    selectedBudget?.validesociete === 1
                                  "
                                  [(ngModel)]="ligne.montantSociete"
                                  [ngModelOptions]="{ standalone: true }"
                                  (ngModelChange)="
                                    onMontantChange(
                                      ligne,
                                      'montantSociete',
                                      $event
                                    )
                                  "
                                />
                              </td>
                            </tr>
                          }
                        </tbody>
                      </table>
                    </div>

                    <div
                      *ngIf="modeSaisie === 'STEP'"
                      class="d-flex align-items-end gap-2 mb-3"
                    >
                      <div class="flex-grow-1">
                        <label class="form-label mb-1">Centre analytique</label>
                        <select
                          class="form-select form-select-sm"
                          [(ngModel)]="selectedCentreId"
                          [ngModelOptions]="{ standalone: true }"
                        >
                          <option [ngValue]="null">— Sélectionner —</option>

                          <option
                            *ngFor="let n of availableNatures"
                            [ngValue]="n.idcentreanalytique"
                          >
                            {{ n.libelle }}
                          </option>
                        </select>
                      </div>

                      <button
                        class="btn btn-sm btn-outline-primary"
                        [disabled]="!selectedCentreId"
                        (click)="addSelectedNature()"
                      >
                        + Ajouter
                      </button>
                    </div>
                  </div>

                  <div *ngIf="msgErros" class="alert alert-danger mt-2">
                    {{ msgErros }}
                  </div>
                </div>

                <div class="modal-footer">
                  <div class="hstack gap-2 justify-content-end">
                    <button
                      type="button"
                      class="btn btn-sm btn-light"
                      data-bs-dismiss="modal"
                      (click)="resetModeSaisie()"
                    >
                      Fermer
                    </button>

                    <!-- MODE CREATE / UPDATE -->
                    <button
                      *ngIf="actionModal !== 'validate'"
                      type="submit"
                      class="btn btn-sm btn-success"
                      (click)="onSubmit()"
                      [disabled]="loading"
                    >
                      {{
                        actionModal === "create" ? "Enregistrer" : "Modifier"
                      }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div
          class="modal fade"
          id="validateBudgetModal"
          tabindex="-1"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
              <!-- HEADER -->
              <div class="modal-header bg-light p-3">
                <h5 class="modal-title">
                  Validation du budget - {{ selectedBudget?.codebudget }}:
                  {{ selectedBudget?.libelle }}
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  (click)="closeModal('validateBudgetModal')"
                ></button>
              </div>

              <!-- BODY -->
              <div class="modal-body">
                <div class="my-3 fs-5">
                  <p>
                    <span class="fw-bold">Budget :</span>
                    {{ selectedBudget?.libelle }}
                  </p>
                  <p>
                    <span class="fw-bold">Type :</span>
                    {{ selectedBudget?.typebudget }}
                  </p>
                  <p *ngIf="!isAnalytique()">
                    <span class="fw-bold">Entité :</span>
                    {{ selectedBudget?.entite }}
                  </p>
                  <p>
                    <span class="fw-bold">Valide du :</span>
                    {{ selectedBudget?.datedebut | date: "dd-MM-yyyy" }}
                    {{
                      "
                    "
                    }}
                    <span class="fw-bold">au :</span>
                    {{ selectedBudget?.datefin | date: "dd-MM-yyyy" }}
                  </p>
                </div>

                <!-- TABLE -->
                <div class="table-responsive">
                  <table
                    class="table table-bordered table-striped align-middle table-compact"
                  >
                    <thead class="table-light">
                      <tr>
                        <th style="width: 50px">#</th>
                        <th
                          *ngIf="
                            !isAnalytique() &&
                            selectedBudget?.entite === 'Département'
                          "
                        >
                          Département
                        </th>
                        <th *ngIf="isAnalytique()">Code</th>
                        <th>
                          {{
                            isAnalytique()
                              ? "Centre analytique"
                              : "Nature d'opération"
                          }}
                        </th>

                        <th
                          *ngIf="
                            isAnalytique() ||
                            selectedBudget?.entite === 'Département'
                          "
                        >
                          Prévision Département
                        </th>
                        <th>Prévision Site</th>
                        <th>Prévision Société</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let ligne of validationLines; let i = index">
                        <td class="text-center">{{ i + 1 }}</td>

                        <td
                          *ngIf="
                            !isAnalytique() &&
                            selectedBudget?.entite === 'Département'
                          "
                        >
                          {{ ligne.departement }}
                        </td>
                        <td *ngIf="isAnalytique()">{{ ligne.code }}</td>
                        <td>
                          {{ isAnalytique() ? ligne.centre : ligne.nature }}
                        </td>

                        <!-- MONTANT DÉPARTEMENT -->
                        <td
                          *ngIf="
                            isAnalytique() ||
                            selectedBudget?.entite === 'Département'
                          "
                        >
                          <input
                            type="number"
                            class="form-control form-control-sm text-end"
                            [(ngModel)]="ligne.montantDept"
                            [readonly]="isDeptReadonly()"
                          />
                        </td>

                        <!-- MONTANT SITE -->
                        <td>
                          <input
                            type="number"
                            class="form-control form-control-sm text-end"
                            [(ngModel)]="ligne.montantSite"
                            [readonly]="isSiteReadonly()"
                            (ngModelChange)="
                              !isSiteReadonly() &&
                                (ligne.montantSociete = ligne.montantSite)
                            "
                          />
                        </td>

                        <!-- MONTANT SOCIÉTÉ -->
                        <td>
                          <input
                            type="number"
                            class="form-control form-control-sm text-end"
                            [(ngModel)]="ligne.montantSociete"
                            [readonly]="isSocieteReadonly()"
                          />
                        </td>
                      </tr>

                      <!-- AUCUNE LIGNE -->
                      <tr *ngIf="validationLines.length === 0">
                        <td colspan="6" class="text-center text-muted py-3">
                          Aucune ligne budgétaire
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <!-- COMMENTAIRE REJET -->
                <div *ngIf="showRejectComment" class="mt-3">
                  <div class="mb-3">
                    <form *ngIf="rejectForm" [formGroup]="rejectForm">
                      <label class="form-label form-label-sm" for="motif-field"
                        >Motif de refus</label
                      >
                      <select
                        class="form-select form-control form-control-sm"
                        aria-label="Sélectionner le budget"
                        id="motif-field"
                        formControlName="motif"
                      >
                        <option [ngValue]="null">-- Sélectionner --</option>

                        <option
                          *ngFor="let motif of motifs"
                          [value]="motif.idmotif"
                        >
                          {{ motif.libellemotif }}
                        </option>
                      </select>
                      <!-- <div class="invalid-feedback">{{ msgErros }}</div> -->
                      <textarea
                        class="form-control"
                        rows="3"
                        [(ngModel)]="rejectComment"
                        [ngModelOptions]="{ standalone: true }"
                        placeholder="Motif obligatoire"
                      ></textarea>
                    </form>
                  </div>
                </div>

                <div *ngIf="msgErros" class="alert alert-danger mt-2">
                  {{ msgErros }}
                </div>
              </div>

              <!-- FOOTER -->
              <div class="modal-footer">
                <button
                  class="btn btn-light btn-sm"
                  data-bs-dismiss="modal"
                  (click)="closeModal('validateBudgetModal')"
                >
                  Fermer
                </button>

                <button
                  class="btn btn-outline-danger btn-sm"
                  (click)="onRejectClick()"
                >
                  Rejeter
                </button>

                <button
                  class="btn btn-success btn-sm"
                  [disabled]="loading"
                  (click)="onClickValidateBudget()"
                >
                  Valider
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal visionnage des validateurs -->
        <div
          class="modal fade"
          id="validateursBudgetModal"
          tabindex="-1"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
              <!-- HEADER -->
              <div class="modal-header bg-light p-3">
                <h5 class="modal-title">Validateurs du budget</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  (click)="closeModal('validateursBudgetModal')"
                ></button>
              </div>

              <!-- BODY -->
              <div class="modal-body">
                <!-- TABLE -->
                <div class="table-responsive">
                  <table
                    class="table table-bordered table-striped align-middle table-compact"
                  >
                    <thead class="table-light">
                      <tr>
                        <th style="width: 50px">#</th>
                        <th>Circuit</th>
                        <th>Validateur</th>

                        <th>Statut</th>
                        <th *ngIf="isRejected()">Motif</th>
                        <th>Commentaire</th>
                        <th>Date</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr
                        *ngFor="
                          let validateur of validateursBudget;
                          let i = index
                        "
                      >
                        <td class="text-center">{{ i + 1 }}</td>

                        <td>{{ validateur.codecircuitvalidation }}</td>
                        <td>{{ validateur.nom }} {{ validateur.prenom }}</td>

                        <td>
                          <span
                            class="badge"
                            [ngClass]="
                              validateur.decision.toLocaleLowerCase() ===
                              'approuve'
                                ? 'bg-success-subtle text-success'
                                : validateur.decision.toLocaleLowerCase() ==
                                    'rejete'
                                  ? 'bg-danger-subtle text-danger'
                                  : 'bg-warning-subtle text-warning-emphasis'
                            "
                          >
                            {{ validateur.decision }}
                          </span>
                        </td>

                        <td
                          *ngIf="
                            isRejected() && validateur.decision === 'rejete'
                          "
                        >
                          {{ motifOfBudgetRejected ?? "-" }}
                        </td>

                        <td>
                          {{ validateur.commentaire ?? "Aucun commentaire" }}
                        </td>

                        <td>
                          {{
                            validateur.datevalidation
                              ? (validateur.datevalidation
                                | date: "dd-MM-yyyy HH:mm")
                              : "-"
                          }}
                        </td>
                      </tr>

                      <tr *ngIf="validateursBudget.length === 0">
                        <td colspan="6" class="text-center text-muted py-3">
                          Aucun(s) validateur(s) pour ce budget.
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div *ngIf="msgErros" class="alert alert-danger mt-2">
                  {{ msgErros }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div
          class="modal fade flip"
          id="deleteOrder"
          tabindex="-1"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body p-5 text-center">
                <div class="mt-4 text-center">
                  <h4>{{ titleMsg }}</h4>
                  <p class="text-muted fs-15 mb-4">{{ msgSup }}</p>
                  <div class="hstack gap-2 justify-content-center remove">
                    <button
                      class="btn btn-sm btn-link link-success fw-medium text-decoration-none"
                      id="deleteRecord-close"
                      data-bs-dismiss="modal"
                    >
                      <i class="ri-close-line me-1 align-middle"></i> annuler
                    </button>
                    <button
                      class="btn btn-sm btn-danger"
                      (click)="deleteConfirmed()"
                      id="delete-record"
                    >
                      Oui, supprimer
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end modal -->
      </div>
    </div>
  </div>
  <!--end col-->
</div>
<!--end row-->
