<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="index.html" class="logo logo-dark">
            <span class="logo-sm">
                <img src="assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="assets/images/logo-dark.png" alt="" height="17">
            </span>
        </a>
        <!-- Light Logo-->
        <a href="index.html" class="logo logo-light">
            <span class="logo-sm">
                <img src="assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="assets/images/logo-light.png" alt="" height="17">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-pages">Administration</span></li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarLanding" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarLanding">
                        <i class="ri-account-circle-line"></i> <span data-key="t-landing">Users</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarLanding">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-one-page"> Utilisateurs </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-nft-landing"> Users - site </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-job"> Users - departement </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="menu-title"><span data-key="t-menu">Paramétrages</span></li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarDashboards" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Structure</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarDashboards">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-analytics"> Societe </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-crm"> Site </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-ecommerce"> Département </a>
                            </li>
                        </ul>
                    </div>
                </li>
                
                <!-- end Menu Budget -->
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarBudget" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="ri-honour-line"></i> <span data-key="t-dashboards">Budget</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarBudget">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-analytics"> Budget </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-crm"> Version </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <!-- end Menu donnees de base -->
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarDb" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarApps">
                        <i class="ri-apps-2-line"></i> <span data-key="t-apps">Données de base</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarDb">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#sidebarProfile" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarProfile" data-key="t-profile"> Devise
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarProfile">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="javascript:void(0)" class="nav-link" data-key="t-simple-page">Devise</a>
                                        </li>
                                        <li class="nav-item">
                                            <a [routerLink]="root_taux" class="nav-link" data-key="t-settings">Taux de devise</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a [routerLink]="root_centre_analytique" class="nav-link" data-key="t-settings"> Centre analytique </a>
                            </li>
                            <li class="nav-item">
                                <a [routerLink]="root_plan_comptable" class="nav-link" data-key="t-chat"> Plan comptable </a>
                            </li>
                            <li class="nav-item">
                                <a [routerLink]="root_nature_operation" class="nav-link" data-key="t-calendar"> Nature opération </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link" data-key="t-chat"> Affectation analytique </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link" data-key="t-chat"> Tiers </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <!-- end Caisse Journal -->
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarApps" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarApps">
                        <i class="ri-stack-line"></i> <span data-key="t-apps">Caisse et Journal</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarApps">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a [routerLink]="root_journal" class="nav-link" data-key="t-calendar"> Journal </a>
                            </li>
                            <li class="nav-item">
                                <a [routerLink]="root_caisse" class="nav-link" data-key="t-chat"> Caisse </a>
                            </li>
                            <li class="nav-item">
                                <a [routerLink]="root_affectation_caissier" class="nav-link" data-key="t-calendar">Affectation caissier </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-pages">Opérations</span></li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarLayouts" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarLayouts">
                        <i class="ri-layout-3-line"></i> <span data-key="t-layouts">Générales</span> <span class="badge badge-pill bg-success" data-key="t-hot">new</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarLayouts">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="javascript:void(0)" target="_blank" class="nav-link" data-key="t-horizontal">Demande de caisse</a>
                            </li>
                            <li class="nav-item">
                                <a [routerLink]="root_operation" target="_blank" class="nav-link" data-key="t-detached">Opération caisse </a>
                            </li>
                        </ul>
                    </div>
                </li> <!-- end Dashboard Menu -->

                <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-pages">Restitutions</span></li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>

    <div class="sidebar-background"></div>
</div>
<!-- Left Sidebar End -->

<!-- Vertical Overlay-->
<div class="vertical-overlay"></div>