tr.selected {
  background-color: #d9edf7; /* bleu clair */
}

#natureselected:hover {
  background-color: #f0f8ff; /* bleu très clair */
  cursor: pointer;
  color: #000;
  border: 1px solid #007bff;
}

#select-row:hover {
  background-color: #f0f8ff; /* bleu très clair */
  cursor: pointer;
  color: #000;
  border: 1px solid #007bff;
}

#cc:hover {
  cursor: pointer;
}

#cc:checked {
  background-color: #d9edf7; /* bleu clair */
}

#save-btn:hover {
  background-color: #00b368; /* bleu plus foncé */
  border-color: #008535;
}
