<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">{{title}}</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Données de base</a></li>
                    <li class="breadcrumb-item active">{{title}}</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card" id="orderList">
            <div class="card-header border-0">
                <div class="row align-items-center gy-3">
                    <div class="col-sm-auto">
                        <div class="d-flex gap-1 flex-wrap">
                            <button type="button" class="btn btn-sm btn-soft-info"><i class="ri-file-download-line align-bottom me-1"></i> Import</button>
                            <button class="btn btn-sm btn-info" (click)="actualiser()"><i class="ri-refresh-fill align-bottom me-1"></i>Actualiser</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card-body pt-0">
            
                <!-- Selection d'un élément -->
                <div class="d-flex flex-column align-items-center">
                    <div class="fw-bold mb-2">Sélectionner la nature d'opération :</div>

                    <form [formGroup]="natureoperationForm">
                        <div class="border">
                            <select title="Selection" id="natureselected" class="form-select form-select-sm" formControlName="idnature">
                                <option value="" class="text-center">-- Sélectionner --</option>
                                <option *ngFor="let n of natureoperations" [value]="n.idnature">
                                    {{ n.codenature }} - {{ n.libelle }}
                                </option>
                            </select>
                        </div> 
                    </form>
                </div>

                <!-- Tableau de jeu -->
                <div class="row mt-4">

                    <!-- N'est pas affecté à... -->
                    <div class="col-5" id="non-affectees">
                        <h6><i class="ri-link-unlink"></i> N'est pas affecté à...</h6>
                        <!-- 🔎 Recherche -->
                        <input type="text"  class="form-control form-control-sm mb-2" 
                         placeholder="Rechercher code ou libellé..."
                            [(ngModel)]="searchTermNA"
                            (input)="applyFilterNA()"
                        />

                        <div class="table-container">
                            <table class="table table-sm table-hover border mb-0">
                                <thead class="table-light sticky-header">
                                    <tr>
                                        <th>✔</th>
                                        <th>Code</th>
                                        <th>Libellé</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let item of paginatedDataNA">
                                        <td>
                                            <input type="checkbox" (change)="toggleLeft(item, $event)" />
                                        </td>
                                        <td>{{ item.codecentreanalytique }}</td>
                                        <td>{{ item.libelle }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Pagination -->
                        <div class="d-flex justify-content-center align-items-center gap-2 mb-0" id="pagination">
                            <!-- Précédent -->
                            <button 
                                class="btn btn-sm btn-light icon-btn"
                                (click)="prevPageNA()" 
                                [disabled]="currentPage === 1"
                                title="Page précédente">
                                <i class="ri-arrow-left-s-line"></i>
                            </button>

                            <!-- Info page -->
                            <span class="page-info">
                                {{ currentPage }} / {{ totalPages }}
                            </span>

                            <!-- Suivant -->
                            <button 
                                class="btn btn-sm btn-light icon-btn"
                                (click)="nextPageNA()" 
                                [disabled]="currentPage === totalPages"
                                title="Page suivante">
                                <i class="ri-arrow-right-s-line"></i>
                            </button>
                        </div>
                    </div>

                    <!-- Boutons centraux -->
                    <div class="col-2 text-center d-flex flex-column gap-2 mt-5">

                        <button class="btn btn-outline-primary btn-sm" (click)="add()" [disabled]="selectedLeft.length === 0">
                            <i class="ri-arrow-right-s-line" ></i> Ajouter
                        </button>

                        <button class="btn btn-outline-primary btn-sm" (click)="addAll()">
                            <i class="ri-arrow-right-double-line"></i> Tous
                        </button>

                        <button class="btn btn-outline-primary btn-sm" (click)="removeAll()">
                            <i class="ri-arrow-left-double-line"></i> Aucun
                        </button>

                        <button class="btn btn-outline-primary btn-sm" (click)="remove()" [disabled]="selectedRight.length === 0">
                            <i class="ri-arrow-left-s-line"></i> Enlever
                        </button>
                        <button class="btn btn-sm btn-secondary" (click)="abandonner()">
                            <i class="ri-close-line"></i> Abandonner
                        </button>
                    </div>

                    <!-- Est affecté à... -->
                    <div class="col-5" id="affectees">
                        <h6><i class="ri-link"></i> Est affecté à...</h6>

                        <!-- 🔎 Recherche -->
                        <input type="text"  class="form-control form-control-sm mb-2" 
                         placeholder="Rechercher code ou libellé..."
                            [(ngModel)]="searchTerm"
                            (input)="applyFilter()"
                        />

                        <div class="table-container">
                            <table class="table table-sm table-hover border mb-0">
                                <thead class="table-light sticky-header">
                                    <tr>
                                        <th>✔</th>
                                        <th>Code</th>
                                        <th>Libellé</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let item of paginatedData">
                                        <td>
                                            <input type="checkbox" (change)="toggleRight(item, $event)" />
                                        </td>
                                        <td>{{ item.codecentreanalytique }}</td>
                                        <td>{{ item.libelle }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Pagination -->
                        <div class="d-flex justify-content-center align-items-center gap-2 mb-0" id="pagination">
                            <!-- Précédent -->
                            <button 
                                class="btn btn-sm btn-light icon-btn"
                                (click)="prevPage()" 
                                [disabled]="currentPage === 1"
                                title="Page précédente">
                                <i class="ri-arrow-left-s-line"></i>
                            </button>

                            <!-- Info page -->
                            <span class="page-info">
                                {{ currentPage }} / {{ totalPages }}
                            </span>

                            <!-- Suivant -->
                            <button 
                                class="btn btn-sm btn-light icon-btn"
                                (click)="nextPage()" 
                                [disabled]="currentPage === totalPages"
                                title="Page suivante">
                                <i class="ri-arrow-right-s-line"></i>
                            </button>
                        </div>
                    </div>


                    <!-- Boutons en bas -->
                    <div class="row mt-3">
                        <div class="col-6">
                            <!-- <button class="btn btn-outline-secondary">
                            <i class="ri-printer-line"></i> Imprimer
                            </button> -->
                        </div>

                        <div class="col-6 text-end">
                            <button id="save-btn" class="btn btn-primary" (click)="save()">
                            <i class="ri-save-line"></i> Enregistrer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end col-->
</div>
<!--end row-->