<!--start Notification-->
<div class="tab-pane" id="experience" role="tabpanel">
    <div class="mb-3">
        <div class="mt-4 mb-3 border-bottom pb-2">
            <div class="float-end">
                <a href="javascript:void(0);" class="link-primary">Désactiver tout</a>
            </div>
            <h5 class="card-title">Traitements spécifiques</h5>
        </div>
        <ul class="list-unstyled mb-0">
            <li class="d-flex">
                <div class="flex-grow-1">
                    <label for="directMessage" class="form-check-label fs-14">Notifications systèmes</label>
                    <p class="text-muted">Message de notification depuis votre portail</p>
                </div>
                <div class="flex-shrink-0">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="directMessage" checked />
                    </div>
                </div>
            </li>
            <li class="d-flex mt-2">
                <div class="flex-grow-1">
                    <label class="form-check-label fs-14" for="desktopNotification">
                        Notifications push
                    </label>
                    <p class="text-muted">Reçevoir les notifications en temps réel depuis votre bureau connecté.</p>
                </div>
                <div class="flex-shrink-0">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="desktopNotification" checked />
                    </div>
                </div>
            </li>
            <li class="d-flex mt-2">
                <div class="flex-grow-1">
                    <label class="form-check-label fs-14" for="emailNotification">
                        Reçevoir les notifications par mail
                    </label>
                    <p class="text-muted">Reçevoir les notifications depuis votre adresse mail de votre compte utilisateur.</p>
                </div>
                <div class="flex-shrink-0">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="emailNotification" />
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--end Notification-->